/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 13, 2023, 8:36:40 AM
    Author     : Chopito
*/

:root{
    --color-primary:#0000a0;
    --color-primary-contrast:#f0f0f0;
    --color-secondary:#891eb3;
    --color-secondary-contrast:#f0f0f0;
    --color-danger:#f00000;
    --color-danger-contrast:#f0f0f0;
    --color-success:#00f000;
    --color-success-contrast:#f0f0f0;
    --color-warning:#f0f000;
    --color-warning-contrast:#404040;
}

h1{
    color:var(--color-primary);
}

.data-container{
    display: flex;
    padding: 10px;
}

.data-container div{
    padding: 10px;
}

.item-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 0!important; 
}

.item-input label{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.item-input input{
    border-radius:10px;
    border:1px solid var(--color-primary);
    padding:10px;
    font-size:1.2em;
}

form input[type="submit"]{
    padding: 10px;
    background:var(--color-primary);
    color:var(--color-primary-contrast);
    border-radius: 10px;
}

.form-footer{
    display:flex;
    justify-content: flex-end;
}